.nav{
    padding-top: 2rem;
    &__img{
        height: 7rem;
    }
    &__link{
        font-size: 1.5rem;
        color: $color-gray;
        margin-right: 3rem;
        &:hover{
            text-decoration: none;
            color: $color-gray;
        }
        &--contact{
            padding: 1.5rem;
            background-color: $color-primary;
            color: $color-white;
            &:hover{
                color: $color-white;
            }
        }
    }
}