.galaxy__box{
    position: absolute;
    right:6%;
    top: 18%;
    &--human{
        width: 40rem;
        z-index: 9;
        transform: rotate(360);
        
    }
    &--planet{
        position: absolute;
        top: 0;
        right: 10%;
        width: 30rem;
        z-index: 0;
    }
}