.icon{

    &__box{
        display: inline-block;
        padding: 1.5rem 2rem;
        background-color: $color-white;
        font-size: 2.5rem;
        color: $color-primary;
        border-radius: 1rem;
        box-shadow: 0px 25px 42px 0px rgba(43, 169, 186, 0.35);
    }
}