.myBtn{
    font-size: 1.3rem;
    padding: 1.5rem 3rem;
    display: inline-block;
    text-transform: uppercase;
    &--primary{
        color: $color-white;
        background-color: $color-primary;
        box-shadow: 0px 25px 42px 0px rgba(43, 169, 186, 0.35);
    }
}