.rotate__forward {    
    animation-name: forward;
    animation-duration: 65000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes forward {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(360deg);
    }
}

.rotate__back {    
    animation-name: back;
    animation-duration: 65000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes back {
    from {
        transform:rotate(0deg);
    }
    to {
        transform:rotate(-360deg);
    }
}