.header{  
    background-image: url(../../img/planet-background.svg),
                      url(../../img/header-background-2.svg),
                      url(../../img/header-background-3.svg),
                      url(../../img/bg1.png);
    background-position:110% 40% ,left 0 top 25rem , 18rem  16rem,top right;
    background-repeat: no-repeat, no-repeat;
    background-size: 50%, 20%,10%,61% 80%;
    position: relative;
    height: 100vh;
    &__textBox{
        padding: 15rem 2rem;
        max-width: 70rem;
        font-size: 1.6rem;
        @include respondmax(sm) {
			padding: 2rem 1rem;
        }
        @include respondmax(md) {
			padding: 2rem 1rem;
        }
        @include respondmax(lg) {
			padding: 5rem 1rem;
		}
        &--title{
            font-size: 4.4rem;
            @include respondmax(sm) {
                font-size: 2rem;
            }
            @include respondmax(md) {
                font-size: 2rem;
            }
        }
        &--content{
            color: $color-purple-light;
            margin: 4rem 0;
            @include respondmax(sm) {
                margin: 2rem 0;
            }
            @include respondmax(md) {
                margin: 2rem 0;
            }
        }
    }
    &__linkBox{
        margin-top: 1rem;
        &--link{
            color: $color-purple;
            margin-left: 2rem;
        }
    }
}