.about{
    background-image: url(../../img/about-background-full.svg),
                      url(../../img/Ellipse-small.svg),
                      url(../../img/Ellipse.svg),
                      url(../../img/Ellipse-light.svg);
    background-position: left -4rem  top 13rem,
                         right top 15rem,
                         right 4rem top 18rem,
                         right 12rem top 23rem;
    background-repeat: no-repeat;
    background-size: 50%,2%,5%,7%;
    position: relative;
    height: 100vh;
    padding: 10rem 0;
    margin: 5rem 0;
    &__box{
        &-text{
            font-size: 1.4rem;
            margin-bottom: 5rem;
            &--title{
                color: $color-purple-light-1;
                margin-top: 3rem;
            }
            &--title-1{
                margin-bottom: 4rem;
            }
        }
    }
}
.service{
  &--bg{
    padding: 5rem 0;
    background-image:url(../../img/Ellipse-small.svg),
                     url(../../img/Ellipse.svg),
                     url(../../img/Ellipse-light.svg),
                     url(../../img/branch-right.svg),
                     url(../../img/branch-left.svg),;
    background-position: left top 45rem,
                         left 2rem top 46rem,
                         left 8rem top 49rem,
                         right  top 20rem,
                         left  bottom 20rem;
    background-repeat: no-repeat;
    background-size: 1.5%,4%,5%,8%,8%;  
  }
    &__detail{
        &--text{
            color: $color-purple;
            font-size: 5rem;
            line-height: 7rem;
            margin: 4.5rem 0;
        }
    }
    &__card{   
        box-shadow: 0px 0px 19px 0px rgba(215, 215, 215, 0.35);
        padding: 2rem 3rem;
        margin-bottom: 2rem;
       
        &--bg{
            background-image: url(../../img/service-background.svg),
                              url(../../img/Ellipse.svg),
                             ;
            background-position: right -13rem top 0,
                                 left 2rem top 4rem,;
            background-repeat: no-repeat;
            background-size: 100%,20%;
        }
        &--title{
            color: $color-purple;
            font-size: 2.2rem;
            margin-top: 3rem;
            margin-bottom: 2rem;
            display: inline-block;
            &:hover{
                text-decoration: unset;
                color: $color-primary;
            }
        }
        &--text{
            color: $color-purple-light;
            margin-bottom: 1rem;
            font-size: 1.6rem;
        }
        &-list{
            list-style: none;
            padding-left: unset;
            &--item{
                font-size: 1.6rem;
                color: $color-purple-light;
            }
            &--icon{
                color: $color-primary-light;
                margin-right: .5rem;
            }
        }
    }
}


.carousel{
    padding: 10rem 0;
    height: 70vh;
    &__cercle{
        padding: 4rem;
        box-shadow: 0px 25px 42px 0px rgba(43, 169, 186, 0.35);
        border-radius: 50%;
        margin: 6rem 3rem;
    }

}