$aznb:jaznb;

$color-gray:#3a3a3a;
$color-primary:#128b98;
$color-primary-dark:#105660;
$color-primary-light:#6abcc7;
$color-white:#fff;
$color-purple:#282331;
$color-purple-light:rgba(40, 35, 49, 0.75);
$color-purple-light-1:#382c4d;
