//= template/head.html
<header>
    <div class="header">
      <div class="galaxy__box">
        <img class="galaxy__box--human rotate__back" src="img/planet-human.svg" alt="">
        <img class="galaxy__box--planet rotate__forward" src="img/planets.svg" alt="">
      </div>
       <div class="container">
        <nav class="nav navbar navbar-expand-lg navbar-light">
            <a class="navbar-brand" href="#"><img class="nav__img" src="img/logo.png" alt=""></a>
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
              <span class="navbar-toggler-icon"></span>
            </button>
          
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item active">
                  <a class="nav__link " href="#">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                  <a class="nav__link" href="#">Biz kimik</a>
                </li>
                <li class="nav-item">
                    <a class="nav__link" href="#">Xidmetler</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav__link" href="#">Portfolio</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav__link" href="#">Bloq</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav__link nav__link--contact" href="#">Bizimle elaqe</a>
                  </li>
               
               
              </ul>
              <form class="form-inline my-2 my-lg-0">
                <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
              </form>
            </div>
          </nav>
          <div class="header__textBox">
              <h1 class="header__textBox--title">Biz digital agentik olaraq,</h1>
              <h1 class="header__textBox--title">sizin xəyallarınızı gerçəkləşdiririk.</h1>
              <p class="header__textBox--content">Peşəkar dizaynerlərimiz və proqramçı komandamız sizə veb saytınızın və mobil tətbiqetmələrinizin 
                  yaradılmasında kömək edəcək.
              </p>
              <div class="header__linkBox">
                  <a class="myBtn myBtn--primary" href="#">XİDMƏTLƏR</a>
                  <a class="header__linkBox--link" href="#">PORTFOLİO</a>
              </div>
          </div>
       </div>
    </div>
</header>

//= template/footer.html