//= template/head.html
<header>
        <div class="header">
          <div class="galaxy__box">
            <img class="galaxy__box--human rotate__back" src="img/planet-human.svg" alt="">
            <img class="galaxy__box--planet rotate__forward" src="img/planets.svg" alt="">
          </div>
           <div class="container">
            <nav class="nav navbar navbar-expand-lg navbar-light">
                <a class="navbar-brand" href="#"><img class="nav__img" src="img/logo.png" alt=""></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
                  <span class="navbar-toggler-icon"></span>
                </button>
              
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                  <ul class="navbar-nav ml-auto">
                    <li class="nav-item active">
                      <a class="nav__link " href="#">Home <span class="sr-only">(current)</span></a>
                    </li>
                    <li class="nav-item">
                      <a class="nav__link" href="#">Biz kimik</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav__link" href="#">Xidmetler</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav__link" href="#">Portfolio</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav__link" href="#">Bloq</a>
                      </li>
                      <li class="nav-item">
                        <a class="nav__link nav__link--contact" href="#">Bizimle elaqe</a>
                      </li>
                  </ul>
                  <form class="form-inline my-2 my-lg-0">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
                  </form>
                </div>
              </nav>
              <div class="header__textBox">
                  <h1 class="header__textBox--title">Biz digital agentik olaraq,</h1>
                  <h1 class="header__textBox--title">sizin xəyallarınızı gerçəkləşdiririk.</h1>
                  <p class="header__textBox--content">Peşəkar dizaynerlərimiz və proqramçı komandamız sizə veb saytınızın və mobil tətbiqetmələrinizin 
                      yaradılmasında kömək edəcək.
                  </p>
                  <div class="header__linkBox">
                      <a class="myBtn myBtn--primary" href="#">XİDMƏTLƏR</a>
                      <a class="header__linkBox--link" href="#">PORTFOLİO</a>
                  </div>
              </div>
           </div>
        </div>
    </header>
    <section>
        <div class="about">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 offset-md-5">
                        <div class="about__box">
                            <div class="icon__box ml-20">
                                    <i class="fab fa-accessible-icon"></i>
                            </div>
                         <div class="about__box-text">
                           <h4 class="about__box-text--title">Agentlik haqqında</h4>
                           <h1 class="about__box-text--title-1">Biz kimik?</h1>
                            <p>
                                Avirtel, sizin rəqəmsal tələblərinizə yeni nəfəs verərək, onları innovativ həllərə çevirən, tam 
                                spektr rəqəmsal xidmətlər təqdim edən kreativ agentlikdir.
                            </p>
                            <p>
                                Biz, ən son rəqəmsal alətlərdən istifadə etməklə, Rəqəmsal Strategiyanın Hazırlanması, SEM, SEO, 
                                SMM, Analytics, Onlayn Reputasiyanın İdarə Edilməsi, Məzmun Marketinqi kimi tam paket rəqəmsal
                                xidmətlər təklif edirik.
                            </p>
                            <p>
                                Bu Vizual Tanıtım Qaydaları avirdigital markasından istifadə zamanı diqqət yetirilməli olan əsas
                                məqamları özündə cəmləşdirir. Logotipdən istifadədən öncə bu Qaydalarla tanış olmanız tövsiyə olunur.
                             </p>
                         </div>
                         <div>
                            <a class="myBtn myBtn--primary" href="#">HAQQIMIZDA ƏTRAFLI</a>
                         </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <section>
      <div class="service service--bg">
        <div class="container">
          <div class="text-left">
            <h6 class="section__title-small section__title-small--primaryDark">XİDMƏTLƏRİMİZ</h6>
          </div>
          <div class="row">
            <div class="col-md-4">
              <div class="service__detail">
                <div class="service__detail--text">
                  Lorem ipsum dolor sit amet consectetur.
                  
                </div>
                <div class="service__detail--link">
                    <a href="#" class="myBtn myBtn--primary">xidmətlər haqqinda etrafli</a>
                  </div>
              </div>
            </div>
            <div class="col-md-4">
              <div class="service__card service__card--bg">
                  <div class="icon__box ml-20 ">
                      <i class="fab fa-accessible-icon"></i>
                  </div>
                  <div>
                    <a href="#" class="service__card--title">UI/UX Dizayn</a>
                  </div>
                  <div class="service__card--text">
                      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                      incididunt ut labore et dolore magna aliqua.
                  </div>
                  <div>
                    <ul class="service__card-list">
                      <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                      <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                    </ul>
                  </div>

              </div>
            </div>
            <div class="col-md-4">
                <div class="service__card service__card--bg">
                    <div class="icon__box ml-20">
                        <i class="fab fa-accessible-icon"></i>
                    </div>
                    <div>
                      <a href="#" class="service__card--title">UI/UX Dizayn</a>
                    </div>
                    <div class="service__card--text">
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                        incididunt ut labore et dolore magna aliqua.
                    </div>
                    <div>
                      <ul class="service__card-list">
                        <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                        <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                      </ul>
                    </div>
  
                </div>
            </div>
            <div class="col-md-4">
                  <div class="service__card service__card--bg">
                      <div class="icon__box ml-20">
                          <i class="fab fa-accessible-icon"></i>
                      </div>
                      <div >
                        <a href="#" class="service__card--title">UI/UX Dizayn</a>
                      </div>
                      <div class="service__card--text">
                          Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                          incididunt ut labore et dolore magna aliqua.
                      </div>
                      <div>
                        <ul class="service__card-list">
                          <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                          <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                        </ul>
                      </div>
    
                  </div>
            </div>
            <div class="col-md-4">
                    <div class="service__card service__card--bg">
                        <div class="icon__box ml-20">
                            <i class="fab fa-accessible-icon"></i>
                        </div>
                        <div >
                          <a href="#" class="service__card--title">UI/UX Dizayn</a>
                        </div>
                        <div class="service__card--text">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                            incididunt ut labore et dolore magna aliqua.
                        </div>
                        <div>
                          <ul class="service__card-list">
                            <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                            <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                          </ul>
                        </div>
      
                    </div>
            </div>
            <div class="col-md-4">
                      <div class="service__card service__card--bg">
                          <div class="icon__box ml-20">
                              <i class="fab fa-accessible-icon"></i>
                          </div>
                          <div >
                            <a href="#" class="service__card--title">UI/UX Dizayn</a>
                          </div>
                          <div class="service__card--text">
                              Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                              incididunt ut labore et dolore magna aliqua.
                          </div>
                          <div>
                            <ul class="service__card-list">
                              <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                              <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                            </ul>
                          </div>
        
                      </div>
            </div>
            <div class="col-md-4">
                        <div class="service__card service__card--bg">
                            <div class="icon__box ml-20">
                                <i class="fab fa-accessible-icon"></i>
                            </div>
                            <div >
                              <a href="#" class="service__card--title">UI/UX Dizayn</a>
                            </div>
                            <div class="service__card--text">
                                Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                incididunt ut labore et dolore magna aliqua.
                            </div>
                            <div>
                              <ul class="service__card-list">
                                <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                                <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                              </ul>
                            </div>
          
                        </div>
            </div>
            <div class="col-md-4">
                          <div class="service__card service__card--bg">
                              <div class="icon__box ml-20">
                                  <i class="fab fa-accessible-icon"></i>
                              </div>
                              <div >
                                <a href="#" class="service__card--title">UI/UX Dizayn</a>
                              </div>
                              <div class="service__card--text">
                                  Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                  incididunt ut labore et dolore magna aliqua.
                              </div>
                              <div>
                                <ul class="service__card-list">
                                  <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                                  <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                                </ul>
                              </div>
            
                          </div>
            </div>
            <div class="col-md-4">
                            <div class="service__card service__card--bg">
                                <div class="icon__box ml-20">
                                    <i class="fab fa-accessible-icon"></i>
                                </div>
                                <div >
                                  <a href="#" class="service__card--title">UI/UX Dizayn</a>
                                </div>
                                <div class="service__card--text">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
                                    incididunt ut labore et dolore magna aliqua.
                                </div>
                                <div>
                                  <ul class="service__card-list">
                                    <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                                    <li class="service__card-list--item"><i class="service__card-list--icon fas fa-plus-circle"></i>Veb sayt dizayn hazirlanmasi</li>
                                  </ul>
                                </div>
              
                            </div>
             </div>
          </div>
        </div>
      </div>
    </section>
    <section>
      <div class="carousel">
          <div class="container">
              <div class="owl-carousel owl-theme">
                  <div class="item">
                    <div class="carousel__cercle">
                      <img src="img/Adidas-Logo.png" alt="">
                    </div>
                  </div>
                  <div class="item">
                      <div class="carousel__cercle">
                        <img src="img/Adidas-Logo.png" alt="">
                      </div>
                    </div>
                    <div class="item">
                        <div class="carousel__cercle">
                          <img src="img/Adidas-Logo.png" alt="">
                        </div>
                      </div>
                      <div class="item">
                          <div class="carousel__cercle">
                            <img src="img/Adidas-Logo.png" alt="">
                          </div>
                        </div>
                        <div class="item">
                            <div class="carousel__cercle">
                              <img src="img/Adidas-Logo.png" alt="">
                            </div>
                          </div>
                          <div class="item">
                              <div class="carousel__cercle">
                                <img src="img/Adidas-Logo.png" alt="">
                              </div>
                            </div>
                            <div class="item">
                                <div class="carousel__cercle">
                                  <img src="img/Adidas-Logo.png" alt="">
                                </div>
                              </div>
                              <div class="item">
                                  <div class="carousel__cercle">
                                    <img src="img/Adidas-Logo.png" alt="">
                                  </div>
                                </div>
                                <div class="item">
                                    <div class="carousel__cercle">
                                      <img src="img/Adidas-Logo.png" alt="">
                                    </div>
                                  </div>
                 
              </div>
          </div>
      </div>
    </section>



//= template/footer.html